@charset "utf-8";

body {
	width:100%;
	height:100%;
	background-image:url(../img/bg.png);
	margin-top: 0px;
	overflow:hidden;
}

#intro, #menu, #modulo01_01, #modulo01_02, #modulo01_03, #modulo01_04, #modulo01_05, #modulo01_06 {
    display: none;
}

.logo{
    position: absolute;
    left: 0px;
    top: 0px;
}

.barra{
    position: absolute;
    left: 338px;
}

.siguiente{
    position: absolute;
    left: 1796px;
    top: 415px;
}

.anterior{
    position: absolute;
    left: 24px;
    top: 415px;
}

#obj_1{
	margin-top:250px;
}

#menu_01{
    position: absolute;
    left: 1499px;
    top: 0px;
}

#menu_02{
    position: absolute;
    left: 158px;
    top: 321px;
}

#menu_03{
    position: absolute;
    left: 158px;
    top: 477px;
}

#menu_04{
    position: absolute;
    left: 197px;
    top: 527px;
}

#m_01_01{
    position: absolute;
    left: 238px;
    top: 272px;
}

#m_01_02, #m_01_03, #m_01_03, #m_01_04{
    position: relative;
    left: 806px;
    top: 330px;
}

#m_01_05{
    position: absolute;
    left: 806px;
    top: 582px;
}

#m_01_06{
    position: absolute;
    left: 806px;
    top: 720px;
}

#m_02_01{
    position: absolute;
    left: 249px; /*161*/
    top: 264px;
}

#m_02_02, #m_02_03, #m_02_04{
    position: relative;
    left: 830px;
    top: 262px;
}

#m_02_05{
    position: absolute;
    left: 840px;
    top: 498px;
}

#m_02_06{
    position: absolute;
    left: 840px;
    top: 671px;
    overflow: hidden;
    height: 40px;
}

#m_03_01{
    position: absolute;
    left: 198px;
    top: 261px;
}

#m_03_02, #m_03_03, #m_03_04{
    position: relative;
    left: 786px;
    top: 258px;
}

#m_03_05, #m_03_06, #m_03_07, #m_03_08{
    position: relative;
    left: 786px;
    top: 300px;
}

#m_03_09, #m_03_10, #m_03_11{
    position: relative;
    left: 786px;
    top: 350px;
}

#m_04_01{
    position: absolute;
    left: 258px;
    top: 317px;
}

#m_04_02, #m_04_03, #m_04_04{
    position: relative;
    left: 952px;
    top: 430px;
}

#m_04_05{
    position: absolute;
    left: 545px;
    top: 738px;
}

#m_04_06{
    position: absolute;
    left: 435px;
    top: 344px;
}

#m_04_07 {
    position: absolute;
    left: 807px;
    top: 368px;
}

#m_04_08{
    position: absolute;
    left: 427px;
    top: 632px;
}

#m_04_09{
    position: absolute;
    left: 507px;
    top: 574px;
}

#m_05_01{
    position: absolute;
    left: 172px;
    top: 328px;
}

#m_05_02, #m_05_03{
    position: relative;
    left: 878px;
    top: 328px;
}

#m_05_04{
    position: absolute;
    left: 883px;
    top: 567px;
}

#m_05_05{
    position: absolute;
    left: 883px;
    top: 703px;
}

#m_06_01{
    position: absolute;
    left: 287px;
    top: 258px;
}

#m_06_02, #m_06_03, #m_06_04{
    position: relative;
    left: 828px;
    top: 298px;
}

#m_06_05{
    position: absolute;
    left: 836px;
    top: 634px;
}

#m_06_06{
    position: absolute;
    left: 836px;
    top: 774px;
}

#obj_1, #obj_2, #obj_3, #obj_4 { 
	left:135px;
	position:relative;
}


